httpx==0.28.1
pytest==9.1.1
pytest-rerunfailures==16.7
pytest-xdist==3.8.0
Faker==40.39.0
pydantic==2.13.5
pydantic-settings==2.15.0
email-validator==2.3.0
jsonschema==4.26.0
allure-pytest==2.16.1
swagger-coverage-tool==0.33.0
